.app {

}

.charity-list {

}

h3, h4, p {
  margin: 2px 0 2px 10px;
  padding: 2px;
}

.add-to-cart-button {
  padding: 2px;
  margin: 0 0 5px 10px;
}

.charity-item {
  margin: 20px 100px 20px 100px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

.charity-img {
  width: 250px;
  height: 150px;
}

.chairty-text {
  padding: 0px 0px 0px 5px;
}
