.cart-item {
  margin: 20px;
  border-style: 1px solid #ECECEC;
  border-radius: 5px;

}
.organizationName {
  display: inline;
  font-size: 18px;
}

.amount {
  display: inline;
  font-size: 18px;
}

.removeBtn {
  background-color: #F9690E;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
