.emailInput {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.resetPass {
    background-color: #4ECDC4;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.forgot-password {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 300px) {
    .resetPass {
        width: 100%;
    }
}