.emailInput {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.emailInput:focus {
    outline: none;
}

.resetPass {
    background-color: #F9690E;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.forgot-password {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 300px) {
    .resetPass {
        width: 100%;
    }
}