.userLog,.passLog {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.logBtn {
    background-color: #4ECDC4;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    width:50%
}

#login_form {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.alert {
    color: red;
}

.noAcc {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.signBtn {
    background-color: #4ECDC4;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    width:50%
}

@media screen and (max-width: 300px) {
    .logBtn {
        width: 100%;
    }
}